@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

*{font-family: 'Montserrat', sans-serif; margin: 0;  padding: 0; box-sizing: border-box;}
body{background: #F1F1F1; padding: 30px;}
h1{font-family: 'Saira Extra Condensed', sans-serif;	text-align: center; font-size: 72px; color: #dc3545}

.container{background: #FFF; border-radius: 5px;	box-shadow: 0px 0px 5px rgba(0,0,0, 0.2); padding-bottom: 20px;}
.card img{width: 75px;}

/* [ List View CSS Starts Here  ] */
.listView .card {margin: 1%; display: flex; flex-direction: row;}
.listView .icon{padding: 1.25rem;}
.listView p{margin-bottom: 5px !important;}

/* [ Grid View CSS Starts Here  ] */
.gridView{display: flex; flex-wrap: wrap;}
.gridView .card {width: 23%; text-align: center; padding-top: 10px; margin: 1%;}
.card .title{font-weight: 900;}
.card .content{margin: 5px 0 20px; font-size: 14px;	line-height: 22px;	font-weight: 400;}

.btn{color: #FFF !important; font-weight: 600;}